env
.venv
.git/
.pytest_cache/
.webpack_cache/
__pycache__/
assets/node_modules/
public/
.mypy_cache
.database
.coverage
.env*
!.env.example
celerybeat-schedule
docker-compose.override.yml
logfile.log
memory_test_db
memory_test_db_*
memory_test_db-journal
coverage.xml
htmlcov/
dev.db-wal
dev.db-shm
*.bak
*.log
*.crt
*.key
*.db
